DATABASE_URL=
DB_SSL=true
PGAPPNAME=alertacorte_etl

DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=alertacorte_db

CAMMESA_FILE_PATH=data/raw/cammesa_consumo_historico.xlsx
CAMMESA_SHEET=Datos Region
ENRE_SQL_DUMP_PATH=data/raw/datosenre.sql