# Dependencias
node_modules/
package-lock.json

# Referencias
docs/

# Configuracion local de Cursor
.cursor/

# Variables de entorno (¡Nunca subir credenciales!)
.env
.env.local

# Archivos de Datos Crudos y Procesados (Ignorados por peso y seguridad)
# Se asume que crearán una carpeta 'data' en la raíz
data/raw/*
data/processed/*
*.csv
*.xlsx
*.xls
*.sql
*.dump
!sql/
!sql/*.sql

# Excepciones para mantener la estructura de carpetas en Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Dataset final requerido para la entrega
!data/processed/dataset_modelo_predictivo_final_con_alerta.csv

# Logs
logs
*.log
npm-debug.log*

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db